
<div class="example-container">
   <form [formGroup]="userForm" novalidate ngxsForm="signUp.signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="isFieldInvalid('name')">
        Please fill in a name
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="isFieldInvalid('username')">
        Please fill in a username
      </mat-error>

      <mat-error *ngIf="uniqueUsername.length > 0">
        {{uniqueUsername}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="isFieldInvalid('password')">
        Please fill in a password
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Location" formControlName="location">
      <mat-error *ngIf="isFieldInvalid('location')">
          Please fill in a location
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Age" formControlName="age">
      <mat-error *ngIf="isFieldInvalid('age')">
          Please fill in your age
      </mat-error>
    </mat-form-field>

    <button mat-button (click)="onSubmit()" [disabled]="userForm.invalid">Submit</button>
    </form>
</div>
