
<div class="example-container">
   <form [formGroup]="userForm" novalidate ngxsForm="signUp.signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Location" formControlName="location">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Age" formControlName="age">
    </mat-form-field>

    <button mat-button (click)="onSubmit()" [disabled]="userForm.invalid">Submit</button>
    </form>
</div>
